<section>
    <div class="maincontact">
     <div class="leftblock">
         <iframe class="mainmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.0683418478575!2d44.762808476455334!3d41.783740771316204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40446de3afc4a19d%3A0x6d41563ea2bbb9b3!2z4YOT4YOU4YOa4YOj4YOl4YOhIOGDk-GDlOGDleGDlOGDmuGDneGDnuGDm-GDlOGDnOGDouGDmCAtIERlbHV4IERldmVsb3BtZW50!5e0!3m2!1ska!2sge!4v1717075881044!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
     <div class="rightblock">
         <h2 class="connect">დაგვიკავშირდით</h2>
         <br>
         <p class="petag">თქვენ შეგიძლიათ დაგვიკავშირდეთ თქვენთვის მოსახერხებელი გზით - ელექტრონული ფოსტის ან ტელეფონის საშუალებით. ჩვენ მოხარულნი ვიქნებით ვუპასუხოთ თქვენს შეკითხვებს.</p>
        <div class="minibox">
          <div class="minileft">
              <h4>საკონტაქტო ინფორმაცია</h4>
              <nav>
                <ul>
                    <li class="info">
                        <a href="#"><i class="fas fa-street-view minicon"></i>ქ. თბილისი ფარსადანის ქუჩა 9</a>
                    </li>
                    <li class="info">
                        <a href="#"><i class="fas fa-phone-volume minicon"></i>ტელ: 551 22 22 98</a>
                    </li>
                    <li class="info">
                        <a href="#"><i class="fas fa-envelope"></i>maxcleaner2021@gmail.com</a>
                    </li>
                </ul>
            </nav>
          </div>
        </div>
     </div>
    </div>
</section>