.accordion-item{
  background-color: transparent;
}

.accordion-button {
  background-color: transparent;
  color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.accordion-button:hover {
  background-color: #c4cad1d2;
}

.accordion-body {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-top: none;
  color: white;
}
.text {
  text-align: center;
  color: white;
}