<app-card-component [images]="img">
    <h1>ფანჯრებისა და ვიტრაჟების რეგულარული წმენდა</h1>
    <br>
    <strong>ყველა კომპანიას თუ კერძო პირს სურს რომ ოფისის ან სახლის ვიტრაჟი ყოველთვის პრიალად და სუფთად გამოიყურებოდეს,
        ჩვენი სერვისი კი ამაში ნამდვილად დაგეხმარებათ!! MaxCleaner გთავაზობთ ვიტრაჟების, როგორც რეგულარულ ასევე ერთჯერად
        გენერალურ გაწმენდას .
    </strong>
    <br>
    <ol>
        <li>ფანჯრების წმენდა</li>
        <li>მინებისა და ვიტრაჟების ნაკაწრების გარეშე წმენდა.</li>
        <li>მინების რეცხვა-წმენდა.</li>
        <li>ფასადების დასუფთავება</li>
        <li>ჩარჩოების დასუფთავება და წმენდა.</li>
        <li>სარეკლამო აბრების ,ლოგოს და ბანერის წმენდა.</li>
    </ol>

    <h5><i>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</i></h5>
</app-card-component>