.footer {
  background: linear-gradient(to left, #326ba7, #818991);
  padding: 20px 0;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

span {
  color: #3f3d3d;
  font-size: 12px;
}

p {
  color: #444343;
}

h4 {
  color: #595858;
  font-size: medium;
}

.social-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: x-large;
}

.social-links a {
  text-decoration: none;
  color: #007bff;
}

.social-links i {
  color: #2e3b4a;
}

.container-child{
  width: 300px;
}

.contacts-info {
  display: flex;
  align-items: center;
}

.contacts-info i {
  font-size: x-large;
  color: #2e3b4a;;
}

.contacts-info p {
  flex-grow: 1;
}