<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>საკონტაქტო ინფორმაცია</h4>
          <p>ელ. ფოსტა: info@example.com</p>
          <p>ტელეფონი: +1 123-456-7890</p>
          <p>მისამართი: 123 Main St</p>
        </div>
        <div class="col-md-6">
          <h4>დამატებითი ინფორმაცია</h4>
          <p>თვალი გვადევნეთ სციალურ მედიაში:</p>
          <ul class="social-links">
            <li><a href="https://www.facebook.com/example" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/example" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/user/example" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
        <span>&copy; ყველა უფლება დაცულია. საიტი დამზადებულია ნატა საღინაძის მიერ</span>
      </div>
    </div>
  </footer>
  