<footer class="footer">
  <div class="container">
    <div class="container-child">

      <div>
        <h4>საკონტაქტო ინფორმაცია</h4>
      </div>

      <div class="contacts-info">
        <i class="fa-solid fa-envelope"></i>
        <p><strong>ელ. ფოსტა:</strong><br>maxcleaner2021@gmail.com</p>
      </div>

      <div class="contacts-info">
        <i class="fa-solid fa-phone"></i>
        <p><strong>ტელეფონი:</strong><br>+995 551 22 22 98</p>
      </div>

      <div class="contacts-info">
        <i class="fa-solid fa-location-dot"></i>
        <p><strong>მისამართი:</strong><br>123 Main St</p>
      </div>

    </div>

    <div class="container-child">
      <h4>დამატებითი ინფორმაცია</h4>
      <!-- <p>თვალი გვადევნეთ სციალურ მედიაში:</p> -->
      <ul class="social-links">
        <li><a href="https://www.facebook.com/example" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/example" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <!-- <li><a href="https://www.youtube.com/user/example" target="_blank"><i class="fa-brands fa-youtube"></i></a></li> -->
      </ul>
    </div>

  </div>

  <span>&copy; ყველა უფლება დაცულია</span>
</footer>