<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/images/remontis-shemdgomi-dalageba.webp">
                    <h6>რემონტის შემდგომი დალაგება</h6>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Რემონტის შემდეგ სახლის დასუფთავება საკმაოდ შრომატევადი და დამღლელი პროცესია,
                        მას დიდი ცოდნა სჭირდება იმისათვის, რომ... </p>
                    <br>
                    <a (click)="scrollToElement('text-container')">წაიკითხე მეტი</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/images/general arrangement.webp">
                    <h6>გენერალური დალაგება</h6>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>დალაგების პროცესის გასამარტივებლად, დასუფთავების კომპანია MaxCleaner გთავაზობთ ...</p>
                    <br>
                    <a (click)="scrollToElement('text-container2')">წაიკითხე მეტი</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/images/windows.png">
                    <h6>ფანჯრები და ვიტრაჟები</h6>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ყველა კომპანიას თუ კერძო პირს სურს რომ ოფისის ან სახლის ვიტრაჟი ყოველთვის პრიალად და სუფთად
                        გამოიყურებოდეს...</p>
                    <br>
                    <a (click)="scrollToElement('text-container3')">წაიკითხე მეტი</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/images/private houses and country houses.jpg">
                    <h6>კერძო სახლები და აგარაკები</h6>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>კერძო სახლის ან აგარაკის დალაგება ბევრ შრომას და ცოდნას მოითხოვს, MaxCleaner ის გამოცდილი
                        გუნდისთვის...</p>
                    <br>
                    <a (click)="scrollToElement('text-container4')">წაიკითხე მეტი</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/images/ofice-cleaning.jpg">
                    <h6>ოფისების დალაგება</h6>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>ოფისი დალაგების პროცესის გასამარტივებად კომპანია MaxCleaner გთავაზობთ...</p>
                    <br>
                    <a (click)="scrollToElement('text-container5')">წაიკითხე მეტი</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/images/buildings-and-entrances.jpg">
                    <h6>კორპუსები და სადარბაზოები</h6>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>მშენებლობის შემდეგ მრავალსართულიანი ფართის დალაგება, რთული და შრომატევადი საქმეა...</p>
                    <br>
                    <a (click)="scrollToElement('text-container6')">წაიკითხე მეტი</a>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="main-container">
    <div class="text-container" id="text-container">
        <h1>Რემონტის შემდგომი დალაგება</h1>
        <p>Რემონტის შემდეგ სახლის დასუფთავება საკმაოდ შრომატევადი და დამღლელი პროცესია,
            მას დიდი ცოდნა სჭირდება იმისათვის,რომ გაჯის, ცემენტის და სხვა სამშენებლო ნარჩენები დაუზიანებლად იქნეს
            მოშორებული ზედაპირებიდან,
            სწორედ ამიტომ მაქს ქლინერის გამოცდილი გუნდი გთავაზობთ რემონტის შემდგომ დასუფთავებას ყველაზე სწრაფად
            ხარისხიანად და ბიუჯეტურად.
        </p>

        <div class="contact">
            <p><span>დაკვიკავშირდით</span>551 22 22 98</p>
            <p><span>ელ-ფოსტა:</span> maxcleaner2021@gmail.com</p>
        </div>

        <div class="services">
            <h2>მომსახურებაში შედის:</h2>
            <ol>
                <li>Ზედაპირებზე დარჩენილი წებოს, საღებავებისა და სამშენებლო სკოჩის მოცილება ფანჯრებიდან, სარკეებიდან და
                    ავეჯიდან.</li>
                <li>საღებავის მიერ დალაქავებული იატაკის, ფანჯრების, ფანჯრის რაფების და სხვა ნებისმიერი ზედაპირის
                    გაწმენდა.</li>
                <li>წვრილი სამშენებლო ნარჩენების და ნაგვის გატანა.სერვისი არ მოიცავს მძიმე, 15 კილოზე მეტი ნარჩენების
                    გატანას.</li>
                <li>ნაგვის მოგროვება ტომრებში.</li>
                <li>სამშენებლო და რემონტის შემდგომი მტვრის აღება კედლებიდან, იატაკიდან და ჭერიდან</li>
                <li>ცემენტისა და გაჯისგან დატოვებული ლაქების მოცილება.</li>
            </ol>
            <h4>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</h4>
        </div>
    </div>
    <br>
    <div class="text-container" id="text-container2">
        <h1>გენერალური დალაგება</h1>
        <p>დალაგების პროცესის გასამარტივებლად, დასუფთავების კომპანია MaxCleaner გთავაზობთ გენერალური დალაგების სრულ
            სერვისს.</p>

        <div class="contact">
            <p><span>დაკვიკავშირდით</span>551 22 22 98</p>
            <p><span>ელ-ფოსტა:</span> maxcleaner2021@gmail.com</p>
        </div>

        <div class="services">
            <h2>სერვისი მოიცავს:</h2>
            <p>ფანჯრების, ფანჯრის რაფების, მინების და ჩარჩოების გაწმენდა, მეტლახის გახეხვა-გასუფთავება, ონკანების,
                ნიჟარების და უნიტაზების გაწმენდა,
                პლინტუსების წმენდა, ბრებიდან და ჭაღიდან მტვრის აღება, მაცივრის გახეხვა (თუ ეს მომსახურებაც გსურთ,
                გაითვალისწინეთ, რომ მაცივარი დაგვახვედროთ ცარიელი),
                კარნიზებიდან მტვრის აღება, კონდიციონერიდან მტვრის აღება, კარების წმენდა, სარკეებისა და მინის ზედაპირების
                წმენდა, ავეჯის გაწმენდა შიგნიდან და გარედან <strong>(თუ ეს მომსახურებაც გსურთ, გაითვალისწინეთ, რომ ავეჯი
                    დაგვახვედროთ ცარიელი),</strong>
                ტყავის ავეჯის მოვლა-დამუშავება სპეციალური ხსნარებით, რბილი ავეჯის წმენდა მტვერსასრუტით, საყოფაცხოვრებო
                ტექნიკიდან მტვრის აღება,
                კაფელის გახეხვა,საშხაპის და აბაზანის გარეცხვა, ნაგვის ურნის გარეცხვა და ნაგვის გატანა – არაუმეტეს 10 კგ
                ასევე სუფთავდება ნაგვის ურნის შესანახი ადგილი,
                სამზარეულოს კაფელის გახეხვა და ცხიმების მოცილება სპეციალური ხსნარებით, სამზარეულო გარნიტურის გაწმენდა
                შიგნიდან და გარედან – <strong>(თუ ეს მომსახურებაც გსურთ, გაითვალისწინეთ, რომ კარადები დაგვახვედროთ
                    ცარიელი)</strong>,
                გაზქურის გახეხვა და სპეციალური ხსნარებით ცხიმის მოშორება როგორც გარედან ასევე შიგნიდან, ელქტრო ღუმელის
                გარედან გასუფთავება, მიკროტალღური ღუმელის გასუფთავება,
                კედლებიდან ჭუჭყუისა და ცხიმების მოცილება (დამოკიდებულია კედლის ზედაპირზე), მტვრის აღება სამზარეულოს
                ტექნიკიდან, იატაკისა და ხალიჩის დაგვა-მოწმენდა.
            </p>
            <h4>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</h4>
        </div>
    </div>
    <br>
    <div class="text-container" id="text-container3">
        <h1>ფანჯრებისა და ვიტრაჟების რეგულარული წმენდა</h1>
        <p>ყველა კომპანიას თუ კერძო პირს სურს რომ ოფისის ან სახლის ვიტრაჟი ყოველთვის პრიალად და სუფთად გამოიყურებოდეს,
            ჩვენი სერვისი კი ამაში ნამდვილად დაგეხმარებათ!!
            MaxCleaner გთავაზობთ ვიტრაჟების, როგორც რეგულარულ ასევე ერთჯერად გენერალურ გაწმენდას.</p>

        <div class="contact">
            <p><span>დაკვიკავშირდით</span>551 22 22 98</p>
            <p><span>ელ-ფოსტა:</span> maxcleaner2021@gmail.com</p>
        </div>

        <div class="services">
            <h2>სერვისი მოიცავს:</h2>
            <ol>
                <li>ფანჯრების წმენდა</li>
                <li>მინებისა და ვიტრაჟების ნაკაწრების გარეშე წმენდა</li>
                <li>მინების რეცხვა-წმენდა</li>
                <li>ფასადების დასუფთავება</li>
                <li>ჩარჩოების დასუფთავება და წმენდა</li>
                <li>სარეკლამო აბრების ,ლოგოს და ბანერის წმენდა.</li>
            </ol>
            <h4>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლენა.</h4>
        </div>
    </div>
    <br>
    <div id="text-container4" class="text-container">
        <h1>კერძო სახლების და აგარაკების დასუფთავება</h1>
        <p>კერძო სახლის ან აგარაკის დალაგება ბევრ შრომას და ცოდნას მოითხოვს, MaxCleaner ის გამოცდილი გუნდისთვის ეს დიდ
            პრობლემას არ წარმოადგენს, სწორედ
            ამიტომ ჩვენ გთავაზობთ კერძო სახლების და აგარაკების დასუფთავების სრულ სერვისს.</p>

        <div class="contact">
            <p><span>დაკვიკავშირდით</span>551 22 22 98</p>
            <p><span>ელ-ფოსტა:</span> maxcleaner2021@gmail.com</p>
        </div>

        <div class="services">
            <h2>სერვისი მოიცავს:</h2>
            <ol>
                <li>ფანჯრების წმენდა</li>
                <li>მინებისა და ვიტრაჟების ნაკაწრების გარეშე წმენდა</li>
                <li>მინების რეცხვა-წმენდა</li>
                <li>ფასადების დასუფთავება</li>
                <li>ჩარჩოების დასუფთავება და წმენდა</li>
                <li>სარეკლამო აბრების ,ლოგოს და ბანერის წმენდა.</li>
            </ol>
            <h4>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</h4>
        </div>
    </div>
    <br>
    <div id="text-container5" class="text-container">
        <h1>ოფისების დალაგება</h1>
        <p>ოფისი დალაგების პროცესის გასამარტივებად კომპანია MaxCleaner გთავაზობთ,ოფისის გენერალურად დალაგების სრულს
            სერვისს.</p>

        <div class="contact">
            <p><span>დაკვიკავშირდით</span>551 22 22 98</p>
            <p><span>ელ-ფოსტა:</span> maxcleaner2021@gmail.com</p>
        </div>

        <div class="services">
            <h2>სერვისი მოიცავს:</h2>
            <ol>
                <li>იატაკის დაგვა-მოწმენდა</li>
                <li>პლინტუსების წმენდა</li>
                <li>ბრებიდან მტვრის აღება</li>
                <li>ფანჯრის რაფებისა და ფანჯარაზე არსებული ლაქების გაწმენდა</li>
                <li>ფანჯრების სრულად წმენდა</li>
                <li>კარების წმენდა</li>
                <li>სარკეებისა და მინის ზედაპირების წმენდა</li>
                <li>Მტვერის მოცილება აქსესუარებიდან</li>
                <li>მყარი ზედაპირის მქონე ინვენტარის წმენდა</li>
                <li>Საოფისე სკამების წმენდა</li>
                <li>Საოფისე ინვენტარიდან მტვრის სრულად მოცილება.</li>
                <li>Სამზარეულოს გენერალურად გასუფთავება(არსებობის შემთხვევაში)</li>
            </ol>
            <h4>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</h4>
        </div>
    </div>
    <br>
    <div id="text-container6" class="text-container last-card">
        <h1>კორპუსების და სადარბაზოებოს დასუფთავება</h1>
        <p>მშენებლობის შემდეგ მრავალსართულიანი ფართის დალაგება, რთული და შრომატევადი საქმეა. MaxCleaner ის გუნდს უკვე
            აქვს არაერთი კორპუსის ,სკოლისა და საბავშვო ბაღის, რემონტის შემდგომი თუ გენერალური დალაგების გამოცდილება.
            Ჩვენ გთავაზობთ კორპუსების, სადარბაზოებისა და სხვა მრავალსართულიანი ფართების გენერალური დასუფთავების სერვისს.
        </p>

        <div class="contact">
            <p><span>დაკვიკავშირდით</span>551 22 22 98</p>
            <p><span>ელ-ფოსტა:</span> maxcleaner2021@gmail.com</p>
        </div>
        <br>
        <div class="services">
            <h4>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</h4>
        </div>
    </div>
</div>