<app-card-content [images]="img">
    <h1>ოფისების დალაგება</h1>
    <br>
    <strong>ოფისი დალაგების პროცესის გასამარტივებად კომპანია MaxCleaner გთავაზობთ,ოფისის გენერალურად დალაგების სრულს
        სერვისს.
    </strong>
    <br>
    <ol>
        <li>იატაკის დაგვა-მოწმენდა</li>
        <li>პლინტუსების წმენდა</li>
        <li>ბრებიდან მტვრის აღება</li>
        <li>ფანჯრის რაფებისა და ფანჯარაზე არსებული ლაქების გაწმენდა.</li>
        <li>ფანჯრების სრულად წმენდა.</li>
        <li>კარების წმენდა.</li>
        <li>სარკეებისა და მინის ზედაპირების წმენდა</li>
        <li>Მტვერის მოცილება აქსესუარებიდან</li>
        <li>მყარი ზედაპირის მქონე ინვენტარის წმენდა</li>
        <li>Საოფისე სკამების წმენდა</li>
        <li>Საოფისე ინვენტარიდან მტვრის სრულად მოცილება.</li>
        <li>Სამზარეულოს გენერალურად გასუფთავება(არსებობის შემთხვევაში)</li>
    </ol>

    <h5><i>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</i></h5>
</app-card-content>