<section>
    <div class="banner">
      <div class="text-box">
        <div class="content-card">
          <h3>ჩვენს შესახებ</h3>
          <p>შპს Max Cleaner 2020 წლიდან ზრუნავს თქვენს სისუფთავესა და კომფორტზე. ჩვენ ვასუფთავებთ:</p>
          <ul>
            <li>🏠 საცხოვრებელ ფართებს</li>
            <li>🏡 აგარაკებს</li>
            <li>🏢 ოფისებსა და კომერციულ ობიექტებს</li>
            <li>🪟 ნებისმიერი სირთულის ვიტრაჟებს</li>
            <li>🏊 აუზებს</li>
            <li>🏚 სარდაფებს</li>
            <li>🅿️ პარკინგებს</li>
          </ul>
          <p>მოგვეპოვება მრავალსართულიანი კორპუსების, საბავშვო ბაღების, სკოლებისა და სააგენტოების სრული დასუფთავების გამოცდილება.</p>
  
          <h3>ვთანამშრომლობთ:</h3>
          <p>ჩვენ გვენდო არაერთი კორპორატიული და კერძო მომხმარებელი:</p>
          <div class="partners">
            <span>კარფური</span>
            <span>შირნჰხოფერი</span>
            <span>იოლი</span>
            <span>გერმანია</span>
            <span>ბეიბი ლაინი</span>
            <span>ტოტალ შარმი</span>
            <span>ზღვა ლუდი</span>
            <span>ბელარუსული მაღაზია</span>
            <span>ინტერ დეკო</span>
            <span>ჯაოკენი</span>
            <span>და სხვა...</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  