<section>
    <div class="banner">
        <!-- <app-accordion ></app-accordion> -->
        <div class="text-box">
            <h3>ჩვენს შესახებ</h3>
            <p>შპს მაქს ქლინერი ქართულ ბაზარზე მოღვაწეობს 2020 წლიდან და ერთგულად დგას მომხმარებლების სისუფთავისა და
                კომფორტის სადარაჯოზე. ჩვენ ვასუფთავებს ნებისმიერი ტიპის ობიექტს:</p>
            <ol>
                <li>საცოვრებელ ფართებს</li>
                <li>აგარაკებს</li>
                <li>ოფისებსა თუ კომერციულ ფართებს</li>
                <li>ნებისმიერის სირთულისა და დაბინძურების ხარისხის მქონე ვიტრაჟებს</li>
                <li>აუზებს</li>
                <li>სარდაფებს</li>
                <li>პარკინგებს</li>
            </ol>
            <p>გვაქვს მრავალსართულიანი საცხოვრებელი კორპუსების, საბავშვო ბაღების,სკოლების და მომსაურეობის  სააგენტოების სრული  დასუფთავების გამოცდილება.</p>
            <h3>ჩვენ ვთანამშრობლობთ</h3>
            <p>კომპანიას მოღვაწეობის მანძილზე შეუსრულებია  არაერთი  კორპორატიული თუ კერძო შეკვეთა, ვთანამშრომლობთ ისეთ ფირმებთან როგორიცაა:</p>
            <ol>
                <li>კარფური</li>
                <li>შირნჰხოფერი</li>
                <li>იოლი</li>
                <li>გერმანია</li>
                <li>ბეიბი ლაინი</li>
                <li>ტოტალ შარმი</li>
                <li>ზღვა ლუდი</li>
                <li>ბელარუსული მაღაზია</li>
                <li>ინტერ დეკო</li>
                <li>ჯაოკენი</li>
                და სხვა...
              </ol>
        </div>
    </div>
</section>