<app-card-content [images]="img">
        <h1>გენერალური დალაგება</h1>
        <br>
        <strong>დალაგების პროცესის გასამარტივებლად, დასუფთავების კომპანია  MaxCleaner გთავაზობთ გენერალური დალაგების სრულ სერვისს.
        </strong>
        <br>
        <ol>
            <li>ფანჯრების, ფანჯრის რაფების, მინების და ჩარჩოების გაწმენდა</li>
            <li>მეტლახის გახეხვა-გასუფთავება</li>
            <li>ონკანების, ნიჟარების და უნიტაზების გაწმენდა</li>
            <li>პლინტუსების წმენდა</li>
            <li>ბრებიდან და ჭაღიდან მტვრის აღება</li>
            <li>კედლების ჭუჭყისაგან წმენდა</li>
            <li>მაცივრის გახეხვა (თუ ეს მომსახურებაც გსურთ, გაითვალისწინეთ, რომ მაცივარი დაგვახვედროთ ცარიელი)</li>
            <li>კარნიზებიდან მტვრის აღება</li>
            <li>კონდიციონერიდან მტვრის აღება</li>
            <li>კარების წმენდა</li>
            <li>სარკეებისა და მინის ზედაპირების წმენდა</li>
            <li>ავეჯის გაწმენდა შიგნიდან და გარედან (თუ ეს მომსახურებაც გსურთ, გაითვალისწინეთ, რომ ავეჯი დაგვახვედროთ ცარიელი)</li>
            <li>ტყავის ავეჯის მოვლა-დამუშავება სპეციალური ხსნარებით</li>
            <li>რბილი ავეჯის წმენდა მტვერსასრუტით</li>
            <li>საყოფაცხოვრებო ტექნიკიდან მტვრის აღება</li>
            <li>კაფელის გახეხვა</li>
            <li>საშხაპის და აბაზანის გარეცხვა</li>
            <li>ნაგვის ურნის გარეცხვა</li>
            <li>ნაგვის გატანა – არაუმეტეს 10 კგ</li>
            <li>სუფთავდება ნაგვის ურნის შესანახი ადგილი</li>
            <li>სამზარეულოს კაფელის გახეხვა</li>
            <li>ცხიმების მოცილება სპეციალური ხსნარებით</li>
            <li>ამზარეულო გარნიტურის გაწმენდა შიგნიდან და გარედან – (თუ ეს მომსახურებაც გსურთ, გაითვალისწინეთ, რომ კარადები დაგვახვედროთ ცარიელი)</li>
            <li>გაზქურის გახეხვა და სპეციალური ხსნარებით ცხიმის მოშორება როგორც გარედან ასევე შიგნიდან</li>
            <li>ელქტრო ღუმელის გარედან გასუფთავება</li>
            <li>მიკროტალღური ღუმელის გასუფთავება</li>
            <li>კედლებიდან ჭუჭყუისა და ცხიმების მოცილება (დამოკიდებულია კედლის ზედაპირზე)</li>
            <li>მტვრის აღება სამზარეულოს ტექნიკიდან.</li>
            <li>იატაკისა და ხალიჩის დაგვა-მოწმენდა</li>
        </ol>
        <h5><i>სისტემატიური თანამშრომლობის შემთხვევაში, მოქმედებს ფასდაკლება.</i></h5>
</app-card-content>