<section class="mt-5 mb-5">
  <div class="banner">
    <img src="./assets/images/cleaning-services-baner.jpg" alt="">
  </div>
  <!-- <div class="container mt-5">

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mx-auto">
          <img class="card-img-top" src="./assets/images/group-1" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">სახლის დალაგება</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mx-auto">
          <img class="card-img-top" src="./assets/images/card-3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">კომერციული ფართის დალაგება</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mx-auto">
          <img class="card-img-top" src="./assets/images/card-4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ოფისების დალაგება</h5>
          </div>
        </div>
      </div>

    </div>
  </div> -->

<body>
  <div class="card">
    <img src="../../../assets/images/group-1.png" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Card Title</h5>
    </div>
  </div>
</body>
</section>