<section>

  <div class="banner">
    <div class="text-container">
      <h1 class="banner-title">დასუფთავების სრული სერვისი</h1>
      <span class="banner-slogan">ჩვენ ვქმნით თქვენს სუფთა გარემოს</span>
    </div>
  </div>
  

  <article class="flex-container">

    <div class="card" routerLink="/repair">
      <img src="../../../assets/images/group-5.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">რემონტის შემდგომ დასუფთავება</h5>
      </div>
    </div>

    <div class="card" routerLink="/windows">
      <img src="../../../assets/images/group-3.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">ფანჯრებისა და ვიტრაჟების რეგულარული წმენდა</h5>
      </div>
    </div>

    <div class="card" routerLink="/private-houses">
      <img src="../../../assets/images/group-1.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">კერძო სახლებისა და აგარაკების დასუფთავება</h5>
      </div>
    </div>

    <div class="card" routerLink="/buildings-entrances">
      <img src="../../../assets/images/group-2.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">კორპუსები, სადარბაზოს დასუფთავება</h5>
      </div>
    </div>

    <div class="card" routerLink="/general-arrangement">
      <img src="../../../assets/images/group-4.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">გენერალური დალაგება</h5>
      </div>
    </div>

    <div class="card" routerLink="/tidying-offices">
      <img src="../../../assets/images/group-6.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">ოფისების დალაგება</h5>
      </div>
    </div>

  </article>
   
</section>