<section>
  <div class="banner">
    <img src="./assets/images/cleaning-services-baner.jpg" alt="">
  </div>

  <article class="flex-container">
    <div class="card">
      <img src="../../../assets/images/group-1.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">კერძო სახლებისა და აგარაკების დასუფთავება</h5>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/images/group-2.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">კორპუსები, სადარბაზოს დასუფთავება</h5>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/images/group-4.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">გენერალური დალაგება</h5>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/images/group-5.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">აუზების დასუფთავება</h5>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/images/group-3.png" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">ფანჯრებისა და ჟისორი ვიტრაჟების რეგულარული წმენდა</h5>
      </div>
    </div>

  </article>
</section>