<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ლოგო</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">მთავარი</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ჩვენს შესახებ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">მომსახურება</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ფასები</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">კონტაქტები</a>
                </li>
            </ul>
        </div>
    </nav>
</header>